#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid;
}

#red{
    background: red;
    border-radius: 50%;
    height: 50px;
    margin: 10px;
}


#yellow{
    background:yellow;
    border-radius: 50%;
    height: 50px;
    margin: 10px;
}


#green{
    background: rgb(30, 246, 30);
    border-radius: 50%;
    height: 50px;
    margin: 10px;
    border: 10% black;
}
